<a href="https://colab.research.google.com/github/Gauri-Dublish/my-repository/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("This is my first line of code in python")

This is my first line of code in python

In [ ]:
print("Hello\nThis is in the next line")

Hello
This is in the next line

In [ ]:
a = 6
b = 7
#addition
print( a + b )

#subtraction
print( a - b )

#multiplication
print( a * b )

#division
print( a / b )

print( a // b )

#remainder
print( a % b )

#exponential
print( a ** b )

13
-1
42
0.8571428571428571
0
6
279936

In [ ]:
#BEDMAS
print(5 * 5 - 9 + 6 / 7)

16.857142857142858

In [ ]:
inc = 9
inc += 1
print(inc)
inc -= 2
print(inc)

10
8

In [ ]:
#Logical
print(3 < 4)         #less than 4 should return True
print(True and False)
print(True and False)
print(a != b)
print(True and not False)

True
False
False
True
True

In [ ]:
some_sentence = "There is a space at the end   "
print(some_sentence)
print(some_sentence.rstrip())

There is a space at the end
There is a space at the end

In [ ]:
#rstrip() - remove whitespaces from the right
some_sentence = "There is a space at the end   "
print(some_sentence)
print(some_sentence.rstrip())

There is a space at the end
There is a space at the end

In [ ]:
increment = '4%'
print(increment.rstrip('%'))

4

In [ ]:
#lstrip() - remove whitescpaces from the left

start = "    There is space at the start"
print(start)
print(start.lstrip())

    There is space at the start
There is space at the start

In [ ]:
#strip() - remove whitespaces from both the ends
spaces = "      Trim whitespaces  "
print(spaces)
print(spaces.strip())

      Trim whitespaces
Trim whitespaces

In [ ]:
num_with_chars = '*444#'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [ ]:
#Remove the leading spaces from the string input_str='   This is my first code'

# Reading the input as a string;
import ast, sys
input_str = sys.stdin.read()

input_str='    This is my first code'
print(input_str)
print(input_str.lstrip())
final_str = input_str
print(final_str.strip())

    This is my first code
This is my first code
This is my first code

In [ ]:
#Indexing and Slicing

val = "2 apples"
no_of_apples = val[0]
print('number of apples is', no_of_apples)

number of apples is 2

In [ ]:
what = val[2:]
print(what)

apples

In [ ]:
#slicing by specifying start and end index
print(val[2:5])

app

In [ ]:
batch = "5 oranges 3 monkeys n"
fruits = batch[ :9]
print(fruits)

5 oranges

In [ ]:
nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

2468

In [ ]:
odd_nums = nums[0::2]
print(odd_nums)

13579

In [ ]:
A = 'Data'
B = "Analysis"
C = "Pandas"

print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Pandas

Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name='Kumar', first_name='Ravi', customer_code='003'.


A sample output of the input 'Kumar_Ravi_003' is:

Ravi
Kumar
003

In [ ]:
import ast,sys
input_str = sys.stdin.read()
first_name = input_str[6:10:1]
second_name = input_str[0:5:1]
customer_code = input_str[11::1]
print(first_name)
print(second_name)
print(customer_code)

In [ ]:
initial_list = []
print(initial_list)

[]

In [ ]:
DA_languages = ['R','Python','SAS','Scala', 42]
print(DA_languages)

['R', 'Python', 'SAS', 'Scala', 42]

In [ ]:
print(DA_languages[0])

R

In [ ]:
print(DA_languages[1:3])

['Python', 'SAS']

In [ ]:
print(DA_languages[0:2])

['R', 'Python']

In [ ]:
print(DA_languages[-1])

42

In [ ]:
print(DA_languages[2:])

['SAS', 'Scala', 42]

In [ ]:
print(DA_languages[:-3])

['R', 'Python']

In [ ]:
DA_languages.pop()

42

In [ ]:
DA_languages.pop(0)
print(DA_languages)

['Python', 'SAS', 'Scala']

In [ ]:
DA_languages.append('R')
DA_languages.remove('R')
print(DA_languages)

['Python', 'SAS', 'Scala', 42, 'R', 'R']

In [ ]:
import ast,sys
input_list = (sys.stdin.read()).split(',')
input_list = ['SAS','R','PYTHON','SPSS']
input_list.remove('SPSS')
input_list.append('SPARK')
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

In [ ]:
new_list = DA_languages[:]
print(id(new_list))

135884616947776

In [ ]:
another_list = DA_languages.copy()
print(id(another_list))

135884616954176

In [ ]:
a_sentence = "Hi Saif, this is to inform you that I'm not well today."
print(a_sentence)

Hi Saif, this is to inform you that I'm not well today.

In [ ]:
words_in_sentence = a_sentence.split()
print(words_in_sentence)

['Hi', 'Saif,', 'this', 'is', 'to', 'inform', 'you', 'that', "I'm", 'not', 'well', 'today.']

In [ ]:
a_mail = "Hi Saif, this is to inform you that I'm not well today. I won't be coming to office, but I'm available on call. Thanks"

In [ ]:
sentences_in_mail = a_mail.split('.')
print(sentences_in_mail)

["Hi Saif, this is to inform you that I'm not well today", " I won't be coming to office, but I'm available on call", ' Thanks']

In [ ]:
mail = " ".join(sentences_in_mail)
print(mail)

Hi Saif, this is to inform you that I'm not well today  I won't be coming to office, but I'm available on call  Thanks

In [ ]:
mail_new = " & ".join(sentences_in_mail)
print(mail_new)

Hi Saif, this is to inform you that I'm not well today &  I won't be coming to office, but I'm available on call &  Thanks

In [ ]:
my_list = ["Hi"]
print(my_list*5)

['Hi', 'Hi', 'Hi', 'Hi', 'Hi']

In [ ]:
print(my_list + my_list)

['Hi', 'Hi']

In [ ]:
import ast, sys
input_str = sys.stdin.read()
input_str = 'I love Data Science & Python'
output_list = input_str.split('&')
print(output_list)

['I love Data Science ', ' Python']

In [ ]:
nums = [2,6,9,3,2,1]
print(len(nums))

6

In [ ]:
print(sorted(nums))

[1, 2, 2, 3, 6, 9]

In [ ]:
print(max(nums))

9

In [ ]:
print(min(nums))

1

In [ ]:
nest = [[1,2,3,4],[5,6,7],[8,9,10]]
print(nest[1])

[5, 6, 7]

In [ ]:
print(nest[0][1])

2

In [ ]:
print(nest[0:2])

[[1, 2, 3, 4], [5, 6, 7]]

In [ ]:
import ast, sys
input_str = (sys.stdin.read()).split(',')
input_str = 'Python syntax is easy to learn' , 'Python syntax is very clear'
string_1 = " & ".join(input_str)
print(string_1)

Python syntax is easy to learn & Python syntax is very clear

In [10]:
import ast, sys
input_str = sys.stdin.read()
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]
answer = input_list[2][0]
print(answer)

Python

In [1]:
first_tuple = ("Monty Python", 30, "Baker Street", 5.8)
print(first_tuple[0])

Monty Python

In [2]:
city_tuple = ("Mumbai", 18.9949521, 72.8141853)
print(city_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [3]:
new_tuple = city_tuple
print(new_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [4]:
new_tuple[1] = 13.8877

TypeError: 'tuple' object does not support item assignment

In [7]:
b = city_tuple[:-1]
print(b)
print(len(b))

('Mumbai', 18.9949521)
2

In [6]:
c = list(b)
print("c is: {0}".format(c))
c = tuple(c)
print("c is now a tuple: {0}".format(c))

c is: ['Mumbai', 18.9949521]
c is now a tuple: ('Mumbai', 18.9949521)

In [10]:
empty_dictionary = {}
print(type(empty_dictionary))

<class 'dict'>

In [1]:
bio_data = {'Name': 'Bob Marley', 'Age':35, 'Height':"5.6 ft", 'Hobby':'Music'}
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [2]:
credentials = { 'UserA' : 'wkliopnc', 'UserB': 98760, 'UserC':98760}

In [3]:
hobby = bio_data['Hobby']
print(hobby)

Music

In [4]:
age = bio_data['Age']
print(age)

35

In [5]:
age = bio_data.get('Age')
print(age)

35

In [7]:
profession = bio_data.get('Profession','NA')
print(profession)

NA

In [8]:
bio_data['Age'] = 36
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [14]:
input_dict = {'Name':'Monty','Profession':'Singer'}

In [15]:
import ast,sys
input_str = sys.stdin.read()
answer = input_dict.get('Label','NA')
print(answer)

NA

In [16]:
#add a key, val
bio_data['Profession'] = 'Singer'
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer'}

In [17]:
print('Profession' in bio_data)

True

In [18]:
#get list of keys
print(list(bio_data.keys()))

#get list of values
print(list(bio_data.values()))

['Name', 'Age', 'Height', 'Hobby', 'Profession']
['Bob Marley', 36, '5.6 ft', 'Music', 'Singer']

In [19]:
new_dictionary = dict(Country = 'Jamaica', Songs =['One Love','Misty Morning'])

In [20]:
bio_data.update(new_dictionary)
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer', 'Country': 'Jamaica', 'Songs': ['One Love', 'Misty Morning']}

In [21]:
del bio_data['Songs']
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music', 'Profession': 'Singer', 'Country': 'Jamaica'}

In [24]:
students_data = { 1:['Shivam Bansal',24] , 2:['Udit Bansal',25] , 3:['Sonam Gupta',26] , 4:['Saif Ansari',24] , 5:['Huzefa Calcuttawala',27]}
print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27]}

In [25]:
print(len(students_data))

5

In [26]:
#see all the details of students.
print(list(students_data.values()))

[['Shivam Bansal', 24], ['Udit Bansal', 25], ['Sonam Gupta', 26], ['Saif Ansari', 24], ['Huzefa Calcuttawala', 27]]

In [27]:
students_data[6] = ['Manasi Sharma', 22]
print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [28]:
del students_data[2]
print(students_data)

{1: ['Shivam Bansal', 24], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [29]:
print(list(students_data.keys()))

[1, 3, 4, 5, 6]

In [8]:
students_list = ['A','A','B','C','C','E','N']

In [10]:
students_set = set(students_list)
print(students_set)

{'B', 'A', 'N', 'E', 'C'}

In [11]:
print(type(students_set))

<class 'set'>

In [12]:
students_list_2 = ['A','N','F','N','G','A']

In [15]:
students_set_2 = set(students_list_2)
print(students_set_2)

{'G', 'F', 'A', 'N'}

In [14]:
print(students_set.intersection(students_set_2))

{'A', 'N'}

In [16]:
print(students_set.union(students_set_2))

{'B', 'F', 'A', 'N', 'E', 'C', 'G'}

In [17]:
print(students_set.difference(students_set_2))

{'C', 'B', 'E'}

In [23]:
input_list = [[1, 2, 3, 4, 5,6],[2,3,4, 5, 6, 7, 8,9]]

In [24]:
import ast,sys
input_str = sys.stdin.read()


list_1 = input_list[0]
list_2 = input_list[1]

set_1 = set(list_1)
set_2 = set(list_2)
answer_1 = sorted(list(set_1.difference(set_2)))
answer_2 = sorted(list(set_1.symmetric_difference(set_2)))

print(answer_1)
print(answer_2)

[1]
[1, 7, 8, 9]